<sw-meteor-card	class="nuonic-extension-card-base">
	<sw-loader	v-if="isLoading" />

	<sw-extension-icon	:src="imageUrl" />

	<div	class="nuonic-extension-card-base__info">
		<section>
			<span	class="nuonic-extension-card-base__info-name">
				{{ extension.name }}
			</span>
			<br/>
			<span	class="nuonic-extension-card-base__info-description">
				{{ extension.description }}
			</span>
			<br/>
			<span	v-if="extension.manufacturer"	class="nuonic-extension-card-base__info-manufacturer">
				{{ $tc('nuonic-plugin-installer.cards.manufacturer') }}
				{{ extension.manufacturer }}
			</span>
			|
			<span	v-if="extension.license"	class="nuonic-extension-card-base__info-license">
				{{ $tc('nuonic-plugin-installer.cards.license') }}
				{{ extension.license }}
			</span>
		</section>
	</div>

	<div	class="nuonic-extension-card-base__main-link">
		<a	:href="extension.link"	target="_blank"	rel="noopener noreferrer">
			<sw-icon	name="regular-github"></sw-icon>
		</a>
	</div>

	<div	class="nuonic-extension-card-base__meta-info">
		<section>
			<span	v-if="extension.availableVersion"	class="nuonic-extension-card-base__meta-info-version">
				{{ $tc('nuonic-plugin-installer.cards.version') }}
				{{ extension.availableVersion }}
			</span>
			<br/>
			<span	v-if="extension.lastCommitTime"	class="nuonic-extension-card-base__meta-info-last-commit">
				{{ $tc('nuonic-plugin-installer.cards.lastCommit') }}
				{{ dateFilter(extension.lastCommitTime, { month: 'numeric', year: 'numeric', hour: undefined, minute: undefined }) }}
			</span>
			<span	v-if="isInstalled"	class="nuonic-extension-card-base__meta-info-last-commit">
				{{ $tc('nuonic-plugin-installer.cards.installedAt') }}
				{{ dateFilter(extension.plugin.installedAt, { month: 'numeric', year: 'numeric', hour: undefined, minute: undefined }) }}
			</span>
		</section>

	</div>

	<div	class="nuonic-extension-card-base__main-action">
		<span	v-if="!isInstalled"	class="nuonic-extension-card-base__open-extension"	role="button"	tabindex="0"	@click="onInstall">
			{{ $tc('nuonic-plugin-installer.cards.install') }}
		</span>
		<span	v-if="isUpdateAvailable"	class="nuonic-extension-card-base__open-extension"	role="button"	tabindex="0"	@click="onUpdate">
			{{ $tc('nuonic-plugin-installer.cards.update') }}
		</span>
		<span	v-if="isInstalled && !isUpdateAvailable"	class="nuonic-extension-card-base__open-extension as-info">

			<sw-icon	name="regular-check-circle"	color="#22bb33"></sw-icon>
		</span>
	</div>

</sw-meteor-card>
